body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.info-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.info-table th {
    background-color: #f2f2f2;
}

.employee-photo {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    float: left; /* Posição da foto */
    margin-bottom: 25px; /* Espaçamento entre a foto e o conteúdo */
}

.placeholder-image {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    background-color: lightgray; /* Cor de fundo para o quadro da foto */
}
